nav{
    z-index: 2;
}
.login-icon{
    font-size: 2.5rem;
}
.cart{
    position: relative;
    top: 21%;
}
.cart span.money{
    display: inline-block;
    font-size: 12px;
    background: $primary;
    color: #fff;
    padding: 0 5px;
    border-radius: 3px;
    font-weight: 100;
    vertical-align: text-bottom;
    margin-right: 3px;
    position: relative;
}
.cart span.money:before{
    content: "";
    position: absolute;
    right: -7px;
    top: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10.5px 0 10.5px 10px;
    border-color: transparent transparent transparent $primary;
    border-radius: 3px;
}
