.item-card{
    overflow: hidden;
}
.item-card .card-body {
    margin-top: -55px;
    z-index: 2;
}
.item-card .Img {
    background: $black;
    overflow: hidden;
    position: relative;
}
.item-card .Img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.item-card .Img img{
    transition: all 0.3s ease;
}
.item-card:hover .Img img {
    transform: scale(1.08);
}
.item-card a.lovely {
    position: absolute;
    left: 16px;
    top: 10px;
    cursor: pointer;
    z-index: 2;
}
.item-card a.lovely.no-select i {
    color: $white;
    opacity: 0.8;
}
.item-card a.lovely.selected i{
    color: $primary;
    opacity: 1;
}
.item-card .logo{
    display: inline-block;
    width: 84px;
    height: 84px;
    border-radius: $border-radius;
    overflow: hidden;
}
.item-card .title{
    position: relative;
    width: calc(100% - 88px);
}
.item-card span.tag,
.item-card h4 {
    display: inline-block;
    width: 75%;
    vertical-align: top;
}
.item-card .evaluation{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 3px 10px;
    border-radius: $border-radius-lg;
    background: $green;
    color: $white;
}
.item-card i.icon.small{
    font-size: 13px;
}
.item-card .detail p{
    margin-bottom: 0;
}