.search .label {
    display: inline-block;
    position: relative;
}

.search .label i {
    position: absolute;
    left: 17px;
    top: 4px;
    font-size: 20px;
}

.search .label i.arrow-bottom {
    left: auto;
    right: 17px;
    top: 7px;
    font-size: 15px;
}

.search .label select {
    width: 200px;
    border-radius: $border-radius-lg;
    -webkit-appearance: none;
}

.search .label input {
    width: 400px;
    border-radius: $border-radius-lg;
}
