ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.banner .Txt{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}
.banner .Txt h2{
    letter-spacing: 4px;
}

.selector .custom-control-label::before{
    border: 1px solid $input-border-color;
}
.selector .custom-control-label {
    color: $gray-600;
    font-weight: 300;
}
.selector .custom-control-label:hover{
    color: $primary;
}
.selector .custom-control-label:hover::before {
    border: 1px solid $primary;
}
.selector .custom-control-input:checked ~ .custom-control-label::before{
    border: 1px solid $primary;
    
}
.selector .custom-control-input:checked~.custom-control-label{
   color: $black;
}

.photo ul li{
    background: $black;
}
.photo ul li img{
    opacity: 0.5;
    width: 100%;
}
.restaurant.item-card{
    overflow: unset;
}
.restaurant .card-body{
    padding: 0.75rem 0;
}
.restaurant .box{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.restaurant .btn-lovely {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    margin-top: -13px;
    padding: 3px 10px;
    border-radius: $border-radius-lg;
}
.restaurant .detail{
    position: relative;
}
.menu .menu-category a{
    position: relative;
    display: inline-block;
    padding: $spacer;
    transition: all 0.3s ease;
}
.menu .menu-category a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: $primary;
}
.menu .menu-category a:hover,
.menu .menu-category a.current {
    color: $primary;
}
.menu .menu-category a:hover::after,
.menu .menu-category a.current::after {
    height: 2px;
}
.menu .menu-list ul li{
    position: relative;
}
.menu .menu-list ul li .button{
    position: absolute;
    right: 0;
    bottom: 0;
}
.menu .menu-list ul li.no-img .button{
    bottom: auto;
    top: 50%;
    right: $spacer;
    transform: translateY(-50%);
}
.menu .menu-list ul li .button i.icon{
    font-size: 13px;
    font-weight: bold;
}

.reviews ul li span.date{
    position: absolute;
    right: 0;
    top: $spacer;
    font-size: 13px;
}
.reviews ul li:last-child{
    border: none!important;
}

.shopping-cart ul li:hover span.title{
    color: $primary;
}